<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% if question %}
    <div>
        <h2>제목: {{question.subject}}</h2>
        <div>{{question.content}}</div>
        <p>생성 날짜: {{question.create_date}}</p>
    </div>
    <form method="post" action="{{url_for('answer.create', question_id=question.id)}}">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <!-- button은 기본적으로 submit타입임... -->
        <button>submit</button>
    </form>
    <div>
        <h2>답변</h2>
        {% for answer in question.answer_set%}
        <div>
            <p>내용: {{answer.content}}</p>
            <p>답변: {{answer.create_date}}</p>
        </div>
        {% endfor %}
    </div>
{% endif %}